body, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #0d0c0c;
    color: #fbfafa;
    padding: 20px;
}

/* Header styling */
header {
    background-color: #61606f;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px;
}

header h1 {
    font-size: 2.5em;
}

/* Main content styling */
main {
    max-width: 800px;
    background-color: rgb(33, 31, 31);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




.info h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.info p {
    font-size: 1.2em;
}

/* Details section styling */
.details h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.details p {
    font-size: 1.2em;
    margin-bottom: 10px;
}
